..fontsys{
  font-family: arial, tahoma, serif, sans, calibri;
  font-size: 12px;
  font-weight: 400;
}

body{
  background-color:rgba(100,130,58,0.712);
}

img{
  height: 250px;
  width: 400px;
}


.menu{
  display: flex;
  margin:10px;
  gap: 5px;
  justify-content: space-between;
}


a{
display:inline-flex;
  flex-direction: column;
  justify-content: center;
  padding:15px;
  height:300px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;

}
